/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.container{
    margin: auto;
    width: 100%;
}

.center{
    text-align: center;
}

body {
  min-height: 100vh;
  padding: 0;
}

input.invalid{
    border-color: red !important;
}

.relative{
    position: relative;
}

span.invalid {
  position: absolute;
  left: 0;
  bottom: -2px;
  font-size: 12px;
  color: red;
}
